<%- include("partials/header.ejs") %>

  <div class="about-wrapper">
    <div class="about-left">
      <div class="about-left-content">
        <div>
          <div class="shadow">
            <div class="about-img">
              <img src="images/about-img.jpg" alt="about-image">
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="about-right">
      <h1>Bonjour<span>!</span></h1>
      <h2>Here's who I am & what I do</h2>
      <div class="about-btns">
        <a href="https://drive.google.com/file/d/1U1TmKsYGKJBN7d8buOIz9qsEYcQ_Vl5C/view?usp=drive_link"><button
            type="button" class="btn btn-lavender">resume</button></a>
        <a href="https://github.com/Kushbankey?tab=repositories"><button type="button"
            class="btn btn-white">projects</button></a>
      </div>

      <div class="about-para">
        <p>I'm Prateek, and I'm on an exciting journey as an aspiring web developer. With a passion for
          crafting beautiful and functional websites, I'm dedicated to mastering the art of web development.</p>
        <p>Currently I am working with HTML, CSS , Bootstrap 5, JavaScript, JQuery, Node.js, Express.js, EJS, Git and APIs.
          You can check out my portfolio to see some of my projects and the skills I've honed along the way.</p>
      </div>
    </div>
  </div>


  <%- include("partials/footer.ejs") %>
